@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-neutral-950 text-neutral-100 antialiased;
}

a {
  @apply text-neutral-100;
}

.gradient-text {
  @apply bg-gradient-to-r from-pink-500 via-red-500 to-amber-500 bg-clip-text text-transparent;
}
